.login-container{
    width:400px;
    padding:50px 35px;
    background-color:#fff;
    border-radius:5px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    text-align:center;
    align-items:center;
}

/* Responsive */

@media(max-width:500px){

    .login-container{
        width:90%;
        padding:35px 25px;
    }

}