body {
  padding-top: 0 !important;
  min-height: 100vh;
  overflow: hidden;
}

.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
    width: 400px;
    padding: 30px;
    background: rgba(15, 23, 42, 0.55);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    color: white;
}

@media (max-width: 500px) {
    .login-form {
        width: 90%;
    }
}